<h3>Add Product</h3>

<form action="/api/products" method="post">
    <input type="text" name="title" placeholder="nombre producto">
    <input type="text" name="code" placeholder="code">
    <input type="text" name="price" placeholder="price">
    <input type="text" name="description" placeholder="descripcion">
    <input type="text" name="category" placeholder="category">

    <input type="text" name="stock" placeholder="stock">
    <input type="text" name="thumbnail" placeholder="img" value="Sin Imagen">

    <br>
    <br>
    <input type="submit" value="Agregar">
</form>
    <br>

<a href="/products">
    <button>Cancelar</button>
</a>