{{>menu}}
<ul id="productos">
    {{#each productos}}
        <li id={{code}}>
            {{title}} - {{price}} 
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>