<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API productManager</title>
    <style>
        a{
            padding-inline: 1vw;
        }
    </style>
</head>
<body>
    <header>
        <h2>POYECTO productManager</h2>
    </header>

    {{{body}}}
    
</body>
</html>